
@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  font-family: "Roboto Mono";
  font-style: normal;
  font-optical-sizing: auto;
  font-weight:500;
}

.ab a{
  text-decoration: none;
}

.cards a{
  text-decoration: none;
}

.leaflet-container {
  z-index: 0 !important;
  position: relative !important;
}

.cards{
  border-color: rgb(70, 69, 69) !important;
  /* border-color: #f9fafb !important;
  border-color: #d1d5db !important; */
} 
